#docbox1{
    position: relative;
    top: 380px;
    left: 150px;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    background-color: white;
    border-radius: 15px;
    padding:20px 30px;
    width: 43%;
    height:80vh;
    z-index: 5;

}

#doctextbox{
 color:#d8c30b;
 align-items: center;
 padding: 0%;
}

#doctextbox > h1{
    /*background-color: rgba(255, 255, 255, 0.932);*/
    font-weight: bold;
    font-size: 50px;
    font-family: sans-serif;
    color: black;
}

#doctextbox > p{
    /*background-color: #fafffd;*/
    color: rgb(129, 127, 127);
}

ul>li{
   /* background-color: #fbf8f5;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 18px;
}

li::marker{
    color:#d8c30b;
    font-size: 25px;
}

#img1{
    position: relative;
    bottom: 350px;
    left: 800px;
    width: 480px;
    height: 520px;
    border-radius: 15px;
    z-index: -2;
}


#img2{
    width: 280px;
    height: 390px;
    position: relative;
    bottom: 420px;
    left: 720px;
    border-radius: 15px;
    z-index: 1;
}